
                    <h1>Example heading <span class="tag tag-default">Default</span></h1>
                    <h2>Example heading <span class="tag tag-primary">Primary</span></h2>
                    <h3>Example heading <span class="tag tag-success">Success</span></h3>
                    <h4>Example heading <span class="tag tag-info">Info</span></h4>
                    <h5>Example heading <span class="tag tag-warning">Warning</span></h5>
                    <h6>Example heading <span class="tag tag-danger">Danger</span></h6>
               
