<tabset>
  <tab heading="Filtering & Expansion">
    <div class="row">
      <div class="col-md-6 one-column">
        <div class="form-group">
          <label class="col-md-12 control-label">Name</label>
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Name" tabindex="3">
             <span class="helper"> <img src="../assets/images/help.png" width="32" height="32" alt="" class="tooltip-right"  title="Tool Tip"/></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label">Filter</label>
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder=" " tabindex="3">
            <span class="helper"> and</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder=" " tabindex="3">
            <span class="helper"> <a href="#"><img src="../assets/images/add.png" width="32" height="32" alt="" /> </a><img src="../assets/images/help.png" width="32" height="32" alt="" class="tooltip-right"  title="Tool Tip"/></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label">Use the filter for this node for</label>
          <div class="col-md-12">
            <select class="form-control" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
      <span class="helper"> <img src="../assets/images/help.png" width="32" height="32" alt="" class="tooltip-right"  title="Tool Tip"/></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label">Display Policy</label>
          <div class="col-md-12">
            <select class="form-control" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
      <span class="helper"> <img src="../assets/images/help.png" width="32" height="32" alt="" class="tooltip-right"  title="Tool Tip"/></span>
          </div>
        </div>
      </div>
      <div class="col-md-12">

        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Expansion
        <small id="emailHelp" class="form-text text-muted d-inline-block"> The specified properties will be used for the expansion of the current node</small> 
        
        </a> <img src="../assets/images/help.png" width="20" height="20" alt="" class="tooltip-right" title="Tool Tip"
                />

              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="contain-cont">
                <div class="col-md-8 one-column">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Expan on Every</label>
                    <div class="col-sm-10">
                      <button type="button" class="btn btn-primary">Add a Property</button> <button type="button" class="btn btn-primary">Switch to input field</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="contain-cont"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                you probably haven't heard of them accusamus labore sustainable VHS. </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="contain-cont"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                you probably haven't heard of them accusamus labore sustainable VHS. </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </tab>

  <tab>
    <template tabHeading>
      <i class="glyphicon glyphicon-bell"></i> Report Configuration
    </template>
    <div class="tab-pane" id="profile" role="tabpanel">
      <div class="contain-cont"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS. </div>
    </div>
  </tab>
  <tab>
    <template tabHeading>
      <i class="glyphicon glyphicon-bell"></i> Report Details - Table
    </template>
    <div class="tab-pane" id="profile" role="tabpanel">
      <div class="contain-cont"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS. </div>
    </div>
  </tab>
  <tab>
    <template tabHeading>
      <i class="glyphicon glyphicon-bell"></i>Formula
    </template>
    <div class="tab-pane" id="settings" role="tabpanel">
      <div class="contain-cont"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS. </div>
    </div>
  </tab>
</tabset>