
                    <div class="d-breadvrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active">You are here</li>
                      </ol>
                    </div>
                    <div class="d-breadvrumb ">
                      <ol class="breadcrumb type1">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active">You are here</li>
                      </ol>
                    </div>
                    <div class="d-breadvrumb">
                      <ol class="breadcrumb type2">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Library</a></li>
                        <li class="breadcrumb-item active">You are here</li>
                      </ol>
                    </div>
                