<div id="wrapper"> 
  <app-navigation></app-navigation>
  <div class="page-content">
    <section class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2 col-sm-2 logo"><a href="#"><img src="assets/images/bt-logo.png" width="82" height="38" alt=""/> </a> </div>
          <div class="col-lg-10 col-sm-10">
            <div class="pull-sm-right">
              <ul class="nav navba3r-nav navbar-right pull-xs-right ">
                <li class="nav-item dropdown"> <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false"> <img src="assets/images/profile-img.png" class="profile-img-top" width="38" height="38" alt=""/>Welcome, John Doe <span class="caret"></span></a>
                  <div class="dropdown-menu"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a> </div>
                </li>
              </ul>
              <app-search-box></app-search-box>
            </div>
          </div>
        </div>
      </div>
    </section>
     <router-outlet></router-outlet>     
  </div>

  



