 <div class="bhoechie-tab-content active">
                    <div class="d-typo" >
                    
                      <h1>h1. {{h1.msg}}<small>{{h1.secondaryText}}</small></h1>
                      <h2>h2. {{h2.msg}}<small>{{h2.secondaryText}}</small></h2>
                      <h3>h3. {{h3.msg}}<small>{{h3.secondaryText}}</small></h3>
                      <h4>h4. {{h4.msg}}<small>{{h4.secondaryText}}</small></h4>
                      <h5>h5. {{h5.msg}}<small>{{h5.secondaryText}}</small></h5>
                      <h6>h6. {{h6.msg}}<small>{{h6.secondaryText}}</small></h6>
                     
                    </div>
                  </div>
