                    <h3>Buttons</h3>
                    <div class="element-divider">
                      <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                      <button type="button" class="btn btn-secondary">Small button</button>
                      <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                      <br>
                      <br>
                      <button type="button" class="btn btn-primary btn-lg">Large button</button>
                      <button type="button" class="btn btn-primary">Small button</button>
                      <button type="button" class="btn btn-primary btn-sm">Small button</button>
                    </div>
                    
                    <!-- Large button group -->
                    <button type="button" class="btn btn-outline-primary">Primary</button>
                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                    <button type="button" class="btn btn-outline-success">Success</button>
                    <button type="button" class="btn btn-outline-info">Info</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <div class="element-divider">
                      <div class="btn-group">
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                        <div class="dropdown-menu"> 
                        <li *ngFor="let choice of items.links">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                        <li><div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">{{items.seperatelink}}</a></li>
                      </div>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                        <div class="dropdown-menu">  <li *ngFor="let choice of items.links">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                        <li><div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">{{items.seperatelink}}</a></li></div>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                        <div class="dropdown-menu"> <li *ngFor="let choice of items.links">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                        <li><div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">{{items.seperatelink}}</a></li> </div>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                        <div class="dropdown-menu">  <li *ngFor="let choice of items.links">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                        <li><div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">{{items.seperatelink}}</a></li></div>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                        <div class="dropdown-menu">  <li *ngFor="let choice of items.links">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                        <li><div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">{{items.seperatelink}}</a></li></div>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                        <div class="dropdown-menu"> <li *ngFor="let choice of items.links">
                          <a class="dropdown-item" href="#">{{choice}}</a>
                        </li>
                        <li><div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">{{items.seperatelink}}</a></li></div>
                      </div>
                      <div class="element-divider"><br>
                     <h3>Badges</h3>
                     <div class="element-divider">
                        <h4>25 Tips for Tying Your Shoelace <span class="tag tag-default">New</span></h4>
                     <span class="tag tag-pill tag-default">Default</span>
                    <span class="tag tag-pill tag-primary">Primary</span>
                    <span class="tag tag-pill tag-success">Success</span>
                    <span class="tag tag-pill tag-info">Info</span>
                    <span class="tag tag-pill tag-warning">Warning</span>
                    <span class="tag tag-pill tag-danger">Danger</span>
                    </div>
                    </div>
                    </div>
                  