<div class="pull-sm-right">
<form id="custom-search-form" class="pull-sm-right">
                  <div class="input-append">
                    <input name="search" type="text" placeholder="Search" [(ngModel)]="customSelected" [typeahead]="statesComplex" (typeaheadOnSelect)="typeaheadOnSelect($event)"
    [typeaheadOptionField]="'name'" class="search-query">
                    <button (click)="onClickSearchButton()" type="submit" class="search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  </div>
                </form>
</div>
              

