<aside class="fixed-menu">
   <div class="menu-btn" #menuItem>
     <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2" (click)="isCollapsed =true"> <span></span></button>
   </div>

   <div class="silide-nav" >

     <ul>
       <li> <a routerLink="/dashboard1" routerLinkActive="active" class=""><span class="dashbord-icn toggleNavbar"> </span> Dashboard
           <i *ngIf="isCollapsedDashBoard" class="fa fa-plus-square-o plus-sett" aria-hidden="true" (click)="isCollapsedDashBoard = !isCollapsedDashBoard"></i>
           <i class="fa fa-minus-square-o plus-sett" *ngIf="!isCollapsedDashBoard" (click)="isCollapsedDashBoard = !isCollapsedDashBoard" aria-hidden="true"></i>
         </a>
       </li>
       <div style="color:white;" [collapse]="isCollapsedDashBoard" id="dashBoardComponent">
         <li style="color:white;" *ngFor="let dash of dashBaordDataArray" class="nav-item text-align">
           <a style="color:white;" class="toggleNavbar" [routerLink]="['/dashboard',dash.dashboardId]">{{dash.dashbaordName}}</a>
           <i *ngIf="dash.collapse===false " class="fa fa-plus-square-o plus-sett" aria-hidden="true" (click)="dash.collapse = !dash.collapse" ></i>
           <i class="fa fa-minus-square-o plus-sett" *ngIf="dash.collapse===true" (click)="dash.collapse = !dash.collapse" aria-hidden="true"></i>
           <div [collapse]="!dash.collapse" id="settingsComponent">
             <li class="nav-item text-align">
                 <div>
                 <li *ngFor = "let report of dash.reports" class="nav-item text-align" style="color:pink !important">
                     <a [routerLink]="['/dashboard',dash.dashboardId,'report',report.ReportId]" routerLinkActive="active" style="color:white;" class="toggleNavbar">{{report.ReportName}}</a>
                 </li>
               </div>
             </li>
           </div>
         </li>
       </div>

       <li> <a style="color:white;" ><span style="color:white;"class="report-icn toggleNavbar" style="color: white !important"></span>My Reports
             <i style="color:white;" *ngIf="isCollapsed" class="fa fa-plus-square-o plus-sett" aria-hidden="true" (click)="isCollapsed = !isCollapsed"></i>
             <i style="color:white;" class="fa fa-minus-square-o plus-sett" *ngIf="!isCollapsed" (click)="isCollapsed = !isCollapsed" aria-hidden="true"></i>
             </a>
       </li>


       <div [collapse]="isCollapsed" id="settingsComponent">
         <li class="nav-item text-align">
           <a style="color:white;" class="toggleNavbar" routerLink="/addNewReport" >Add Report</a>
           <a style="color:white;" class="toggleNavbar" >My Reports</a><i style="color:white;" *ngIf="collapseReport" class="fa fa-plus-square-o plus-sett" aria-hidden="true" (click)="collapseReport = !collapseReport"></i>
           <i style="color:white;" class="fa fa-minus-square-o plus-sett" *ngIf="!collapseReport" (click)="collapseReport = !collapseReport" aria-hidden="true"></i>
           <div [collapse]="collapseReport">
             <li *ngFor = "let report of myReportsArray" class="nav-item text-align" style="color:pink !important">
                 <a [routerLink]="['/dashboard',report.dashId,'report',report.ReportId]" routerLinkActive="active" style="color:white;" class="toggleNavbar">{{report.ReportName}}</a>
             </li>
           </div>
         </li>
       </div>

       <li > <a routerLink="/alarm" routerLinkActive="active"  class="toggleNavbar"> <span class="alarms-icn"> </span>Alarms</a></li>
       <!-- <li > <a routerLink="/home" routerLinkActive="active"  class="toggleNavbar"> <span class="alarms-icn"> </span>Alarms</a></li> -->

   </ul>
   </div>
</aside>
