<section class="page-title">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h2>Typography & Grid Structure</h2>
          </div>
        </div>
      </div>
    </section>
    
<section class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="bhoechie-tab-container">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                <div class="bhoechie-tab-menu" #bhoechieTabMenu>
                  <div class="list-group"> <li  class="list-group-item active text-center">
                    <h4>Typography</h4>
                    </li> <li  class="list-group-item text-center">
                    <h4>Breadcrumb</h4>
                    </li> <li  class="list-group-item text-center">
                    <h4>Grid Structure</h4>
                    </li> <li  class="list-group-item text-center">
                    <h4>Pagination</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Lables</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Buttons & Badges</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Alerts</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Panels</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Tooltip Hovers</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Tables</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Forms</h4>
                    </li> <li href="/home" class="list-group-item text-center">
                    <h4>Models & Progress Bar</h4>
                    </li>
                    <li href="/home" class="list-group-item text-center">
                    <h4>Calendar & Date Picker</h4>
                    </li> 
                    <li href="/home" class="list-group-item text-center">
                    <h4>Tabs</h4>
                    </li>
                     </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 ">
                <div class="bhoechie-tab" id="bhoechieTab"> 
                
                
                <div class="bhoechie-tab-content active">
                 <app-typography></app-typography>
                 </div>
                 <div class="bhoechie-tab-content">
                  <app-breadcrumbs></app-breadcrumbs>
                  </div> 
                   <div class="bhoechie-tab-content">
                  <app-grid-structure></app-grid-structure>
                  </div> 
                  <div class="bhoechie-tab-content">
                   <app-pagination></app-pagination>
                  </div>
                  <div class="bhoechie-tab-content">
                    <app-labels></app-labels>
                  </div>
                  <div class="bhoechie-tab-content">
                <app-button-badges></app-button-badges>
                  </div>
                  <!-- Pagination -->
                  <div class="bhoechie-tab-content">
                    <app-alerts></app-alerts>
                  </div>
                  <!-- Panels -->
                  <div class="bhoechie-tab-content">
                  <app-panels></app-panels>
                  </div>
                  
                  <!-- Tooltip Hovers -->
                  <div class="bhoechie-tab-content">
                    <app-tooltips></app-tooltips>
                    </div>
                     
                    <!-- <app-tooltips></app-tooltips> -->
                  <!-- Table -->
                  <div class="bhoechie-tab-content">
                   <app-tables></app-tables>
                  </div>
                  
                  <!-- Forms -->
                  <div class="bhoechie-tab-content">
                   <app-forms></app-forms>
                  </div>
                  
                  <!-- Models -->
                  <div class="bhoechie-tab-content">
                    <app-models></app-models>
                  </div>
                  
                  <!-- Date Picker -->
                  <div class="bhoechie-tab-content">
                  <app-calendar></app-calendar> 
                 </div>

                 <div class="bhoechie-tab-content">
                    <app-tabs></app-tabs>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    </section>